body {
  background-color:#008080;
  margin-top: 200px;
  font-family: "ＭＳ Ｐゴシック";

}
.box{
  width:500px;
  height:150px;
  margin: auto;
  background-color:#C0C0C0;
  border-right:2px rgb(0, 0, 0) solid;
  border-top:2px white solid;
  border-left:2px white solid;
  border-bottom:2px rgb(0, 0, 0) solid;
}

.password {
  
}

.title button{
  width:15px;
  height:15px;
  float:right;
  font-size:11px;
  text-align: center;
  padding:1px;
  margin-right:5px;
}

.title p {
  background-color: #001180;
  color:white;
  margin:auto;
  width:99%;
  margin-top:3px;
  
}

.body {
  text-align: center;
  background-image: url(key.png);
  background-repeat: no-repeat;
  background-position:15px -2px;
  
 
  
  
}

#leftside {
  width:100%;
  text-align: center;
  
}

#dialogs {
  width:300px;
  margin-left:100px;
}

.body p {
}

#buttons {
  height:50px;
  width:100px;
  
}

#buttons button {
  width:80px;
  height:20px;
  margin-left:400px;
  font-family: "ＭＳ Ｐゴシック";
  border-right:2px rgb(0, 0, 0) solid;
  border-top:2px white solid;
  border-left:2px white solid;
  border-bottom:2px rgb(0, 0, 0) solid;
  background-color:#C0C0C0;
 margin-top:4px;
 
}

.welcome {
  padding-left:3px;
  font-weight: bold;
}

#buttons button:hover {
  background-color:#dbdbdb;
}

#buttons button:active {
  background-color: #C0C0C0;
}
#buttons {
  margin-top:-50px;
  
}

label {
margin-right:30px;



}

input {
  text-align: center;
  width:150px;
  font-family: "ＭＳ Ｐゴシック";
  border-left:2px rgb(0, 0, 0) solid;
  border-bottom:2px rgb(221, 221, 221) solid;
  border-right:2px rgb(221, 221, 221) solid;
  border-top:2px rgb(0, 0, 0) solid;
  margin-right:20px;
}


.user {
  margin-left: -8px;
}

